@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: Roboto Condensed;
    font-size: 22px;
}

input {
    font-size: 22px;
}

summary {
    font-size: 48px;
    font-weight: 500;
}

.dark {
    background-image: none;
    background-color: #323232;
    color: #c8c8c8;
}

    .dark #switch-background {
        background-image: url("img/sun.png");
        filter: brightness(0) invert(1);
    }

.white {
    background-color: #C8C8C8;
    color: black;
}

    .white #switch-background {
        background-image: url("img/moon.png");
    }

#header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#switch-background {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    margin: 0px 16px;
}

#photo-and-color {
    display: flex;
    justify-content: space-between;
}

#photo-container {
    border: solid 1px;
    width: 400px;
    height: 300px;
}

#photo {
    width: 400px;
    height: 300px;
}

#color-sample {
    width: 200px;
    height: 200px;
}

/*//////////////////////////////////////////////////////////////////*/
.my-clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/clock.png");
    background-color: black;
    background-size: cover;
    border-radius: 50%;
}

    .my-clock:before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        z-index: 15;
    }

    .my-clock .my-hour, .my-h {
        width: 160px;
        height: 160px;
        position: absolute;
    }

    .my-clock .my-min, .my-m {
        width: 190px;
        height: 190px;
        position: absolute;
    }

    .my-clock .my-sec, .my-s {
        width: 230px;
        height: 230px;
        position: absolute;
    }

.my-h, .my-m, .my-s {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

    .my-h:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 80px;
        background-color: yellow;
        z-index: 10;
        border-radius: 6px 6px 0 0;
    }

    .my-m:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 90px;
        background-color: white;
        z-index: 11;
        border-radius: 6px 6px 0 0;
    }

    .my-s:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 150px;
        background-color: white;
        z-index: 12;
        border-radius: 6px 6px 0 0;
    }
