@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-family: Roboto Condensed;
	font-size: 22px;
}

input {
	font-size: 22px;
}

summary {
	font-size: 48px;
	font-weight: 500;
}

.dark {
	background-image: none;
	background-color: #323232;
	color: #c8c8c8;
}

	.dark #switch-background {
		background-image:url("img/sun.png");
		filter:brightness(0) invert(1);
	}

.white {
	background-color: #C8C8C8;
	color: black;
}

	.white #switch-background {
		background-image:url("img/moon.png");
	}

#header {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

#switch-background {
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
}

#photo-and-color {
	display: flex;
	justify-content: space-between;
}

#photo-container {
	border: solid 1px;
	width: 400px;
	height: 300px;
}

#photo {
	width: 400px;
	height: 300px;
}

#color-sample {
	width: 200px;
	height: 200px;
}
