
#animation {
	width: max-content;
	position: absolute;
	background: red;
	color: yellow;
	font-family: 'Courier New', Courier, monospace;
	font-size: 32px;
}

/*@keyframes MyAnim{
	from{
		margin-left:0px;
	}
	to{
		margin-left: 250px;
	}
}

div{
	animation: MyAnim 5s linear alternate infinite;
}*/