#container
{
	width:400px;
	height:400px;
	position:relative;
	background:yellow;
}

#animation{
	width:150px;
	height:50px;
	position:absolute;
	background:red;
	color:yellow;
}

/*@keyframes MyAnim{
	from{
		margin-left:0px;
	}
	to{
		margin-left: 250px;
	}
}

div{
	animation: MyAnim 5s linear alternate infinite;
}*/