body {
	background-image: url("bliss.jpg");
	background-size: cover;
	font-family: Tahoma;
	text-shadow: 1px 1px black;
}

.main-window {
	/*border:solid 1px;*/
	width: 400px;
	height: 360px;
	position: absolute;
	left: 25px;
	top: 25px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.title-bar {
	width: 100%;
	height: 38px;
	/*background-color:blue;*/
	background-image: linear-gradient( rgb(38,132,244), rgb(0,86,228),rgb(0,86,228),rgb(0,86,228), rgb(4,105,253),rgb(4,105,253),rgb(4,105,253) );
	box-shadow: inset 0px 0px 4px 1px #002195;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-bar-left-side {
	margin: 0px 8px;
	display: flex;
}

.title-bar-right-side {
	margin: 0px 8px;
}

#app-icon {
	width: 24px;
	height: 24px;
}

.control-button, .control-button:disabled, .control-button:disabled:hover {
	width: 24px;
	height: 24px;
	color: white;
	font-weight: 800;
	border: solid 1px white;
	border-radius: 4px;
	background-image: linear-gradient(to bottom right, #55A1FF, #0025B5);
	box-shadow: inset 1px 1px 3px 0px #77A1F5;
}

	.control-button:hover {
		background-image: linear-gradient(to bottom right, #75C1FF, #2045D5);
		box-shadow: inset 0px 0px 3px 3px #77A1F5;
	}

	.control-button:active {
		background-image: linear-gradient(to bottom right, #55A1CF, #0025B5);
		box-shadow: inset 0px 0px 3px 3px #5781F5;
		color: lightgray;
	}

	.control-button:disabled, .control-button:disabled:hover {
		color: lightgray;
		border-color: lightgray;
	}

#close-button {
	background-image: linear-gradient(to bottom right, #C97475, #FF3010);
	box-shadow: inset 3px 1px 3px 1px #C49A9B;
}

	#close-button:hover {
		background-image: linear-gradient(to bottom right, #D98485, #FF3020);
		box-shadow: inset 0px 0px 3px 3px #C49A9B;
	}

	#close-button:active {
		background-image: linear-gradient(to bottom right, #D95455, #FF3020);
		box-shadow: inset 0px 0px 3px 3px #B48A8B;
	}

.client-rect {
	background-color: rgb(235,233,216);
	width: 100%;
	height: 322px;
	display: flex;
	justify-content: space-between;
}

.work-area {
	width: 100%;
}

.menu-bar {
	display: flex;
	border-bottom:solid 1px white;
}

	.menu-bar > button {
		width: 50px;
		height: 22px;
		margin: 1px;
		background: rgb(236,233,216);
		border: none;
	}

		.menu-bar > button:hover {
			box-shadow: 1px 1px 0px 0px gray;
			background: rgb(246,243,226);
		}

		.menu-bar > button:active {
			box-shadow: inset 1px 1px 0px 0px gray;
			background: rgb(226,223,206);
		}

.display {
	width: 100%;
	display: flex;
	justify-content: center;
	margin:5px 0px;
}
	.display > input[type=text] {
		width: 91%;
		text-align:right;
	}
	
.memory-buttons{
	display:flex;
	flex-direction:column;
}
.memory-buttons > button{
	width:48px;
	height:44px;
	margin:5px;
}
.battery{
	width:44px;
	height:44px;
	box-shadow:inset 1px 1px 0px 0px gray;
	border-bottom:solid 1px white;
	border-right:solid 1px white;
}

.border-left {
	width: 5px;
	height: 100%;
	background-image: linear-gradient(to right, #0033D7, #1969F4, #0033D7);
}

.border-right {
	width: 5px;
	height: 100%;
	background-image: linear-gradient(to right, #002287, #094984, #002287);
}

.border-bottom {
	width: 400px;
	height: 5px;
	background-image: linear-gradient(#002287, #094984, #002287);
}
