body {
    background-image: url("bliss.jpg");
    background-size: cover;
    font-family: Tahoma;
    text-shadow: 1px 1px black;
}

.main-window {
    border: solid 1px;
    width: 400px;
    height: 360px;
    position: absolute;
    left: 25px;
    top: 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

button {
    background-color:whitesmoke;
    color:blue;
    border: solid 1px blue;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.title-bar {
    width: 100%;
    height: 38px;
    background-color: blue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-left-side {
    display: flex;
}

#app-icon {
    width: 24px;
    height: 24px;
}

.title-bar button {
    width: 24px;
    height: 24px;
}

#min-size, #max-size, #exit {
    background-color: blue;
    color: white;
    border: solid 2px white;
}

#max-size {
    color: grey;
}

#exit {
    background-color: red;
}

.client-rect {
    width: 100%-10px;
    height: 312px;
    padding: 0px 10px 10px 10px;
    background-color: rgb(235,233,216);
}

.menu > button{
    border: none;
    background-color: rgb(235,233,216);
    color:black;
}

.display {
    height: 40px;
    background-color: white;
    border: 2px inset #c3c3c3;
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
    white-space: nowrap;
}

.top-client-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
}

.null-rect {
    border: solid 1px white;
    width: 40px;
    height: 40px;
    box-shadow: 1px 1px inset grey;
}

.backspace-ce-c {
    height: 40px;
    width: 96px;
    color: red;
}

.bottom-client-buttons {
    display: flex;
    justify-content: space-between;
}

.bottom-client-buttons button {
    height: 40px;
    width: 56px;
    margin-top: 5px;
}

.memory-buttons {
    display: flex;
    flex-direction: column;
}

.red {
    color: red;
}

blue {
    color:blue;
}
