@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
	font-size: 24px;
	font-family: 'Roboto Condensed', 'Segoe UI';
	font-weight: 300;
	/*background-image: url(https://img.freepik.com/free-vector/circuit-board-seamless-pattern_98292-3920.jpg?semt=ais_hybrid&w=740&q=80);
	background-attachment:fixed;*/
}
h3
{
	font-style:italic;
	text-decoration:underline;
}
p 
{
	/*name:value;*/
	text-align: justify;
	text-indent: 48px;
}
figure
{
	text-align:center;
	font-style:italic;
	font-weight:100;
}
ol
{
	list-style:upper-roman;
}
ul
{
	list-style:armenian;
}
a
{
	color:green;
}
	a:visited
	{
		color:blue;
	}
	a:hover
	{
		font-weight:800;
	}
#table-of-contents
{
	background-image:linear-gradient(to bottom right, pink, lightblue);
}
.header
{
	text-shadow: 10px 10px 5px grey;
}
ol > li  > a, ol > li > a:visited
{
	font-weight: 700;
}
ol > li > ul > li > a, ol > li > ul > li > a:visited
{
	font-weight: 500;
}
table
{
	margin:0 auto;
	border:solid 2px;
	border-spacing:0;
}
th, td
{
	border:solid 1px;
}
